__pycache__/
*.pyc
*.pyo

venv
.env

# Dependency directories
node_modules/
.venv/
env/
env-*/

# Compiled Python files
*.pyc
*.pyo

# IDE-specific files and directories
.vscode/
.idea/
*.swp

# OS-specific files and directories
.DS_Store
Thumbs.db

client/mobile_client/.expo
server/server

output.jpg
result.png
monster.jpg